AUTH_SECRET="USE_npx_auth_IN_THE_TERMINAL_TO_GENERATE_THIS" # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GOOGLE_ID=AUTH_GOOGLE_ID
AUTH_GOOGLE_SECRET=AUTH_GOOGLE_SECRET
DATABASE_URL="PRISMA_ACCELERATE_URL"
DIRECT_URL="DIRECT_DB_CONNECTION_URL"

